<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All photos
    </h1>

    <a href="/photos/new" class="btn btn-block btn-primary">
      <i class="fa fa-fw fa-plus"></i>
      Add a new photo
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <% @photos.reverse.each do |photo| %>
    <div class="row mb-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <a href="/users/<%= photo.user_id %>">
            <%= User.find(photo.user_id).username %>
          </a>
          <small>
            <%= time_ago_in_words(photo.created_at) %> ago
          </small>
        </h4>
      </div>
      <div class="card-body">
        <a href="/photos/<%= photo.id %>">
          <img src="<%= photo.image %>" class="img-fluid">
        </a>
        <%= photo.caption %>
        <br />
        <!-- Like -->
        <% if Like.where(user_id: current_user.id, photo_id: photo.id).exists? %>
        <a href="/delete_like/<%= Like.where(user_id: current_user.id, photo_id: photo.id)[0].id %>">
          <button class="btn btn-link pull-right">
            <i class="fas fa-heart"></i>Unlike
          </button>
        </a>
        <% else %>
        <form action="/create_like" method="post">
          <input type="hidden" name="photo_id" value="<%= photo.id %>">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <button class="btn btn-link pull-right">
            <i class="far fa-heart"></i>Like
          </button>
        </form>
        <% end %>
        
        <!-- Comments -->
        <ul class="list-unstyled pt-3">
          <% Comment.where(photo_id: photo.id).each do |comment| %>
          <li class="media mb-2">
            <div class="media-body">
              <h6>
                <a href="/users/<%= comment.user_id %>"><%= User.find(comment.user_id).username %></a>
                <small>
                  <%= time_ago_in_words(comment.created_at) %>
                </small>
              </h6>

              <%= comment.body %>
            </div> <!-- media-body -->
          </li>
          <% end %>


          <li class="media">
          <div class="media-body">
            <form action="/create_comment" method="post" class="pt-4">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <!-- Label and input for body -->
              <div class="form-group">
                <label for="body" class="sr-only">Body</label>
                <div class="input-group">
                  <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required="">
                  <span class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="far fa-comment"></i>Add Comment
                  </button>
                  </span>
                </div> <!-- input-group -->
              </div>  <!-- form-group -->
            </form>
          </div> <!-- media-body -->
          </li>
        </ul>

        <!-- Edit/Delete if Logged In -->
        <% if photo.user_id == current_user.id %>
        <div class="btn-group d-flex" role="group">
            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning w-100">
              <i class="fas fa-edit"></i>Edit
            </a>

            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger w-100" rel="nofollow">
              <i class="fas fa-trash"></i>Delete
            </a>
        </div>
        <% end %>
      </div>
    </div>
    </div>
    <% end %>
    
    <!--<table class="table">-->
    <!--  <tr>-->
    <!--    <th>-->
    <!--      ID-->
    <!--    </th>-->

    <!--    <th>-->
    <!--      Caption-->
    <!--    </th>-->

    <!--    <th>-->
    <!--      Image-->
    <!--    </th>-->

    <!--    <th>-->
    <!--      User-->
    <!--    </th>-->

    <!--    <th>-->
    <!--      Created at-->
    <!--    </th>-->

    <!--    <th>-->
    <!--      Updated at-->
    <!--    </th>-->

    <!--    <th>-->
    <!--    </th>-->
    <!--  </tr>-->

    <!--  <#% @photos.each do |photo| %>-->
    <!--  <tr>-->
    <!--    <td>-->
    <!--      <#%= photo.id %>-->
    <!--    </td>-->

    <!--    <td>-->
    <!--      <#%= photo.caption %>-->
    <!--    </td>-->

    <!--    <td>-->
    <!--      <#%= photo.image %>-->
    <!--    </td>-->

    <!--    <td>-->
    <!--      <#%= photo.user_id %>-->
    <!--    </td>-->

    <!--    <td>-->
    <!--      <#%= time_ago_in_words(photo.created_at) %> ago-->
    <!--    </td>-->
    <!--    <td>-->
    <!--      <#%= time_ago_in_words(photo.updated_at) %> ago-->
    <!--    </td>-->

    <!--    <td>-->
    <!--      <a href="/photos/<#%= photo.id %>">-->
    <!--        Show details-->
    <!--      </a>-->
    <!--    </td>-->
    <!--  </tr>-->
    <!--  <#% end %>-->
    <!--</table>-->
  </div>
</div>
